@font-face {
  src: url("Minecraft.otf");
  font-family: 'arial'
}
body {
    margin: 0;
    font-family: 'arial';
  }
h0{
  text-align:justify;
}
h0 span{
  background-color:red;
  width:100%;
  height:0px;
  display:inline-block;
}
.icon-bar {
  width: 100%; /* Set a specific width */
  background-color: hsla(0, 0%, 0%, 0.75); /* Dark-grey background */
  overflow: auto;
  position:static;
  visibility:visible;
  transition: all 0.5s ease;
  margin:0 0 20px 0
}
  .icon-bar:hover {
    width: 100%; /* Set a specific width */
    background-color: hsla(0, 0%, 0%, 0.75); /* Dark-grey background */
    overflow: auto;
  }
  
  .icon-bar a {
    float: left;
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
    height: 45px;
  }
  
  .icon-bar a:hover {
    color: #0077ff; /* Add a hover color */
    background-color: rgba(0, 0, 0, 0.8)
  }
  .icon-bar a:visited {
    color: #efefef; /* Add a visited color */
    font-style:italic;
  }
  
  .icon-bar a.split {
    float: right;
    color: white;
  }
    a:link {
      background-color: transparent;
      text-decoration: none;
      transition: all 0.3s ease
    }
    
    a:visited {
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: rgb(0, 255, 145);
      background-color: transparent;
      text-decoration: none;
      transition: all 0.3s ease
    }
    
    a:active {
      color: rgb(0, 128, 255);
      background-color: transparent;
      text-decoration: none;
    }
    #gh:hover {
      color:#9B59B6;
      background-color:#4e285ccc
    } 
    #yt:hover {
      color:#ff0000;
      background-color:#800000cc
    } 
    #tv:hover {
      color:#7148D3;
      background-color:#341b6fcc
    } 
    #dc:hover {
      color:#728FD1;
      background-color:#28417bcc
    } 
    .logotext {
      --textcolor: #0091ff;
      text-align: right;
      font-family: 'arial';
      font-size: 4em;
      font-weight: 700;
      color: var(--textcolor);
      text-shadow: 1px 1px 1px #0062fe,
          1px 2px 1px #0061fd,
          1px 3px 1px #0060fc,
          1px 4px 1px #0059fb,
          1px 5px 1px #0058fa,
          1px 6px 1px #0057f9,
          1px 7px 1px #0056f8,
          1px 8px 1px #0055f7,
          1px 9px 1px #0054f6,
          1px 10px 1px #0053f5,
      1px 18px 6px rgba(16,16,16,0.4),
      1px 22px 10px rgba(16,16,16,0.2),
      1px 25px 35px rgba(16,16,16,0.2),
      1px 30px 60px rgba(16,16,16,0.4);
    }
    .logotext a {
      color: var(--textcolor);
    }
    .logotext a:hover {
      color: var(--textcolor);
    }
    .boxbox {
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      width: calc(100% - 10px - 10%);
      height: 500px;
      background:#0080ff10;
      border: 5px solid #0080ff;
      border-radius:20px;
      margin:0 5% 0 5%
    }
    .box {  
      position: relative;
      border-radius: 40px;
      background-color:hsla(0, 0%, 0%, 0.5);
      margin: 10px 25px 0%;
      padding: 25px 100px 25px 100px;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
      filter: drop-shadow(5px 5px 10px #000);
      transition: all 0.5s ease;
      float: none;
      display: inline-block;
      zoom: 1;
    }
    .box:hover {
      color: rgb(255, 255, 255);
      margin: 0px 25px 10px;
      transition: all 0.5s ease;
    }
    .box a:hover {
      color: rgb(0, 89, 255, 1);
    }
    .box a {
      color: rgb(255, 255, 255, 0.5)
    }
    .box iframe {
      border: 5px solid #101010;
      background-color: #202020
    }
    .box desc {
      background:#00000000;
      width:80%;
      height:0px;
      position:absolute;
      left:10%;
      bottom:140px;
      z-index:-1;
      transition: all 0.3s ease;
      border-top: 10px dashed dimgray
    }
    .box info {
      position: absolute;
      width:50px;
      height:50px;
      left:5px;
      top:5px;
      color:#fff;
      font-size:40px
    }
    .box info .tooltip {
      position: relative;
      display: inline-block;
      bottom:10px;
      left:10px
    }
    
    /* Tooltip text */
    .box info .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      font-size:20px;
     
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .box info:hover .tooltiptext {
      visibility: visible;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: hsla(0, 0%, 0%, 0.75);
      color: white;
      text-align: center;
    }
    input {
      padding: 5px;
      font-size: 27px;
      border-width: 1px;
      border-color: #000000;
      background-color: #4c4c4c;
      color: #ffffff;
      border-style: solid;
      border-radius: 10px;
      text-shadow: 2px 2px 5px rgb(0, 0, 0);
      font-family: 'arial'
    }
    input:focus {
      outline:none;
    }
    input:after {
      position:absolute;
      width: 30px;
      height: 30px;
      background-color:aqua;
      content: "";
      top:5;
      bottom:5;
      left:5;
      right:5;
    }
    *::-webkit-scrollbar {
      width: 0px;
    }
    *::-webkit-scrollbar-track {
      border-radius: 0px;
      background-color: #80808000;
    }
    
    *::-webkit-scrollbar-track:hover {
      background-color: #40404000;
    }
    
    *::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background-color: #0080FF;
      border: 0px solid #000000;
    }

    *::-webkit-scrollbar-thumb:active {
      background-color: #0080ff;
    }
#border {
  border-radius:50px
}